## Methods
![method](../method.png)

Since I am only interested in computing the themes with the most sets, I will need to use tables that contain information on movies total gross and disney director. This implies that I will need to use the **disney_movies_total_gross** and the **disney_director** tables.

However, before moving further, let us import the tables and do some basic visualizations.

In [52]:
# Lets import all the required libraries needed for this analysis
import altair as alt
import pandas as pd
import numpy as np
# import all the required files
total_gross = pd.read_csv("data/disney_movies_total_gross.csv")
movie_director = pd.read_csv("data/disney-director.csv")

Lets see what the tables look like.

In [53]:
total_gross.head()

,movie_title,release_date,genre,MPAA_rating,total_gross,inflation_adjusted_gross
0,Snow White and the Seven Dwarfs,"Dec 21, 1937",Musical,G,"$184,925,485","$5,228,953,251"
1,Pinocchio,"Feb 9, 1940",Adventure,G,"$84,300,000","$2,188,229,052"
2,Fantasia,"Nov 13, 1940",Musical,G,"$83,320,000","$2,187,090,808"
3,Song of the South,"Nov 12, 1946",Adventure,G,"$65,000,000","$1,078,510,579"
4,Cinderella,"Feb 15, 1950",Drama,G,"$85,000,000","$920,608,730"

In [54]:
movie_director.head()

                              name        director
0  Snow White and the Seven Dwarfs      David Hand
1                        Pinocchio  Ben Sharpsteen
2                         Fantasia    full credits
3                            Dumbo  Ben Sharpsteen
4                            Bambi      David Hand

Lets get some other information about the sets table.

In [55]:
total_gross.info()
print(total_gross['total_gross'].dtype)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 579 entries, 0 to 578
Data columns (total 6 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   movie_title               579 non-null    object
 1   release_date              579 non-null    object
 2   genre                     562 non-null    object
 3   MPAA_rating               523 non-null    object
 4   total_gross               579 non-null    object
 5   inflation_adjusted_gross  579 non-null    object
dtypes: object(6)
memory usage: 27.3+ KB
object

The sets table has $579$ rows and $6$ columns. Every **movie_title** has a **release_Date**, a **total_gross**, the **inflation_adjusted_gross**.

Lets get some other information about the **movie_director** table.

In [56]:
movie_director.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56 entries, 0 to 55
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      56 non-null     object
 1   director  56 non-null     object
dtypes: object(2)
memory usage: 1.0+ KB

The **movie_director** table has $56$ rows with $2$ columns. Every movie name has an **director**.

As a first visualization, lets look at the average inflation adjusted gross in each genre. To do this, I will merge table **movie_director** with **total_gross** as **direct_gross**.

In [57]:
direct_gross=total_gross.merge(movie_director, left_on='movie_title', right_on='name', how='left', indicator=True)
direct_gross

,movie_title,release_date,genre,MPAA_rating,total_gross,inflation_adjusted_gross,name,director,_merge
0,Snow White and the Seven Dwarfs,"Dec 21, 1937",Musical,G,"$184,925,485","$5,228,953,251",Snow White and the Seven Dwarfs,David Hand,both
1,Pinocchio,"Feb 9, 1940",Adventure,G,"$84,300,000","$2,188,229,052",Pinocchio,Ben Sharpsteen,both
2,Fantasia,"Nov 13, 1940",Musical,G,"$83,320,000","$2,187,090,808",Fantasia,full credits,both
3,Song of the South,"Nov 12, 1946",Adventure,G,"$65,000,000","$1,078,510,579",NaN,NaN,left_only
4,Cinderella,"Feb 15, 1950",Drama,G,"$85,000,000","$920,608,730",Cinderella,Wilfred Jackson,both
...,...,...,...,...,...,...,...,...,...
574,The Light Between Oceans,"Sep 2, 2016",Drama,PG-13,"$12,545,979","$12,545,979",NaN,NaN,left_only
575,Queen of Katwe,"Sep 23, 2016",Drama,PG,"$8,874,389","$8,874,389",NaN,NaN,left_only
576,Doctor Strange,"Nov 4, 2016",Adventure,PG-13,"$232,532,923","$232,532,923",NaN,NaN,left_only
577,Moana,"Nov 23, 2016",Adventure,PG,"$246,082,029","$246,082,029",Moana,Ron Clements,both
578,Rogue One: A Star Wars Story,"Dec 16, 2016",Adventure,PG-13,"$529,483,936","$529,483,936",NaN,NaN,left_only

After that I will use the **total_gross** table. I will group by director and then compute the average inflation adjusted gross for each director.

In [58]:
#get year from releasae date, and add year column back to the dataset total_gross
# group by year and compute the average inflation adjusted gross.

#total_gross['year'] = pd.DatetimeIndex(total_gross['release_date']).year
#total_gross=total_gross.assign(year = pd.DatetimeIndex(total_gross['release_date']).year)

direct_gross['inflation_adjusted_gross'] =direct_gross['inflation_adjusted_gross'].replace({'\$': '', ',': ''}, regex=True).astype(float)
avg_inflation_gross_by_director = pd.DataFrame(direct_gross.groupby('director')['inflation_adjusted_gross'].mean().sort_values(ascending=False)).sort_values(by='director', ascending=True)
avg_inflation_gross_by_director =avg_inflation_gross_by_director.reset_index()
avg_inflation_gross_by_director.head()

         director  inflation_adjusted_gross
0     Art Stevens              1.331189e+08
1      Barry Cook              2.168078e+08
2  Ben Sharpsteen              2.188229e+09
3    Byron Howard              3.412682e+08
4      Chris Buck              3.494487e+08

Now that we have it in the proper format, we can generate a bar plot to visualize it.

In [59]:
# Use altair to generate a bar plot
Average_gross_plot = (
    alt.Chart(avg_inflation_gross_by_director, width=500, height=300)
    .mark_bar()
    .encode(
        x=alt.X("director:O", title="Director"),
        y=alt.Y("inflation_adjusted_gross:Q", title="Average inflation Adjusted Gross"),
    )
    .properties(title="Average of Adjusted Gross by Year")
)
Average_gross_plot

alt.Chart(...)

From the above plot we can see that David Hand has the highest average gross income (adjusted for inflation).

As a second visualization, lets take a look at the number of movies of each director.. To do this, I need to count the movies by each director

In [60]:
# extract rows with out NAN values in the 'parent_id' column using the drop.na() function
# themes_with_parents = themes[themes['parent_id'].notnull()]
movies_with_director = direct_gross.dropna(subset=["director"])
movies_with_director

,movie_title,release_date,genre,MPAA_rating,total_gross,inflation_adjusted_gross,name,director,_merge
0,Snow White and the Seven Dwarfs,"Dec 21, 1937",Musical,G,"$184,925,485",5.228953e+09,Snow White and the Seven Dwarfs,David Hand,both
1,Pinocchio,"Feb 9, 1940",Adventure,G,"$84,300,000",2.188229e+09,Pinocchio,Ben Sharpsteen,both
2,Fantasia,"Nov 13, 1940",Musical,G,"$83,320,000",2.187091e+09,Fantasia,full credits,both
4,Cinderella,"Feb 15, 1950",Drama,G,"$85,000,000",9.206087e+08,Cinderella,Wilfred Jackson,both
6,Lady and the Tramp,"Jun 22, 1955",Drama,G,"$93,600,000",1.236036e+09,Lady and the Tramp,Hamilton Luske,both
7,Sleeping Beauty,"Jan 29, 1959",Drama,NaN,"$9,464,608",2.150583e+07,Sleeping Beauty,Clyde Geronimi,both
8,101 Dalmatians,"Jan 25, 1961",Comedy,G,"$153,000,000",1.362871e+09,101 Dalmatians,Wolfgang Reitherman,both
12,The Sword in the Stone,"Dec 25, 1963",Adventure,NaN,"$22,182,353",1.538708e+08,The Sword in the Stone,Wolfgang Reitherman,both
13,The Jungle Book,"Oct 18, 1967",Musical,Not Rated,"$141,843,000",7.896123e+08,The Jungle Book,Wolfgang Reitherman,both
15,The Aristocats,"Apr 24, 1970",Musical,G,"$55,675,257",2.551615e+08,The Aristocats,Wolfgang Reitherman,both
20,The Many Adventures of Winnie the Pooh,"Mar 11, 1977",NaN,NaN,$0,0.000000e+00,The Many Adventures of Winnie the Pooh,Wolfgang Reitherman,both
21,The Rescuers,"Jun 22, 1977",Adventure,NaN,"$48,775,599",1.597439e+08,The Rescuers,Wolfgang Reitherman,both
28,The Fox and the Hound,"Jul 10, 1981",Comedy,NaN,"$43,899,231",1.331189e+08,The Fox and the Hound,Art Stevens,both
41,The Black Cauldron,"Jul 24, 1985",Adventure,NaN,"$21,288,692",5.055314e+07,The Black Cauldron,Ted Berman,both
48,The Great Mouse Detective,"Jul 2, 1986",Adventure,NaN,"$23,605,534",5.363737e+07,The Great Mouse Detective,Ron Clements,both
72,Oliver & Company,"Nov 18, 1988",Adventure,G,"$49,576,671",1.022545e+08,Oliver & Company,George Scribner,both
83,The Little Mermaid,"Nov 15, 1989",Adventure,G,"$111,543,479",2.237260e+08,The Little Mermaid,Ron Clements,both
97,The Rescuers Down Under,"Nov 16, 1990",Adventure,G,"$27,931,461",5.579673e+07,The Rescuers Down Under,Mike Gabriel,both
114,Beauty and the Beast,"Nov 13, 1991",Musical,G,"$218,951,625",3.630177e+08,Beauty and the Beast,Gary Trousdale,both
135,Aladdin,"Nov 11, 1992",Comedy,G,"$217,350,219",4.419692e+08,Aladdin,Ron Clements,both
179,The Lion King,"Jun 15, 1994",Adventure,G,"$422,780,140",7.616409e+08,The Lion King,Roger Allers,both
194,The Jungle Book,"Dec 25, 1994",Adventure,PG,"$44,342,956",8.893032e+07,The Jungle Book,Wolfgang Reitherman,both
210,Pocahontas,"Jun 10, 1995",Adventure,G,"$141,579,773",2.743710e+08,Pocahontas,Mike Gabriel,both
242,The Hunchback of Notre Dame,"Jun 21, 1996",Adventure,G,"$100,138,851",1.909888e+08,The Hunchback of Notre Dame,Gary Trousdale,both
252,101 Dalmatians,"Nov 27, 1996",Comedy,G,"$136,189,294",2.587289e+08,101 Dalmatians,Wolfgang Reitherman,both
265,Hercules,"Jun 13, 1997",Adventure,G,"$99,112,101",1.820294e+08,Hercules,Ron Clements,both
285,Mulan,"Jun 19, 1998",Adventure,G,"$120,620,254",2.168078e+08,Mulan,Barry Cook,both
306,Tarzan,"Jun 16, 1999",Adventure,G,"$171,091,819",2.839003e+08,Tarzan,Chris Buck,both
327,Dinosaur,"May 19, 2000",Adventure,PG,"$137,748,063",2.154390e+08,Dinosaur,Ralph Zondag,both
338,The Emperor's New Groove,"Dec 15, 2000",Adventure,G,"$89,296,573",1.367893e+08,The Emperor's New Groove,Mark Dindal,both
344,Atlantis: The Lost Empire,"Jun 8, 2001",Adventure,PG,"$84,052,762",1.251881e+08,Atlantis: The Lost Empire,Gary Trousdale,both
365,Lilo & Stitch,"Jun 21, 2002",Adventure,PG,"$145,771,527",2.115067e+08,Lilo & Stitch,Chris Sanders,both
373,Treasure Planet,"Nov 27, 2002",Adventure,PG,"$38,120,554",5.518914e+07,Treasure Planet,Ron Clements,both
391,Brother Bear,"Oct 24, 2003",Adventure,G,"$85,336,277",1.192183e+08,Brother Bear,Robert Walker,both
400,Home on the Range,"Apr 2, 2004",Comedy,PG,"$50,026,353",6.791017e+07,Home on the Range,Will Finn,both
428,Chicken Little,"Nov 4, 2005",Adventure,G,"$135,386,665",1.779547e+08,Chicken Little,Mark Dindal,both
453,Meet the Robinsons,"Mar 30, 2007",Adventure,G,"$97,822,171",1.198606e+08,Meet the Robinsons,Stephen J. Anderson,both
475,Bolt,"Nov 21, 2008",Comedy,PG,"$114,053,759",1.337025e+08,Bolt,Chris Williams,both
491,The Princess and the Frog,"Nov 25, 2009",Adventure,G,"$104,400,899",1.163165e+08,The Princess and the Frog,Ron Clements,both
494,Alice in Wonderland,"Mar 5, 2010",Adventure,PG,"$334,191,110",3.570635e+08,Alice in Wonderland,Clyde Geronimi,both
505,Tangled,"Nov 24, 2010",Adventure,PG,"$200,821,936",2.143885e+08,Tangled,Nathan Greno,both
515,Winnie the Pooh,"Jul 15, 2011",Adventure,G,"$26,692,846",2.837587e+07,Winnie the Pooh,Stephen J. Anderson,both
529,Wreck-It Ralph,"Nov 2, 2012",Adventure,PG,"$189,412,677",2.003550e+08,Wreck-It Ralph,Rich Moore,both
539,Frozen,"Nov 22, 2013",Adventure,PG,"$400,738,009",4.149972e+08,Frozen,Chris Buck,both
552,Big Hero 6,"Nov 7, 2014",Adventure,PG,"$222,527,828",2.292492e+08,Big Hero 6,Don Hall,both
556,Cinderella,"Mar 13, 2015",Drama,PG,"$201,151,353",2.011514e+08,Cinderella,Wilfred Jackson,both
566,Zootopia,"Mar 4, 2016",Adventure,PG,"$341,268,248",3.412682e+08,Zootopia,Byron Howard,both
567,The Jungle Book,"Apr 15, 2016",Adventure,PG,"$364,001,123",3.640011e+08,The Jungle Book,Wolfgang Reitherman,both
577,Moana,"Nov 23, 2016",Adventure,PG,"$246,082,029",2.460820e+08,Moana,Ron Clements,both

Now lets group by genre and count the number of movies. to do this, I will import and use the script I created with a count function that takes in a dataframe and groups it by a certian column and then applies a specified aggreating function.

In [61]:
# import the custom script
import script as scpt

# run it on the data
movie_count = scpt.count_movie(movies_with_director, 'director','movie_title' )
movie_count

               director  count
0           Art Stevens      1
1            Barry Cook      1
2        Ben Sharpsteen      1
3          Byron Howard      1
4            Chris Buck      2
5         Chris Sanders      1
6        Chris Williams      1
7        Clyde Geronimi      2
8            David Hand      1
9              Don Hall      1
10       Gary Trousdale      3
11      George Scribner      1
12       Hamilton Luske      1
13          Mark Dindal      2
14         Mike Gabriel      2
15         Nathan Greno      1
16         Ralph Zondag      1
17           Rich Moore      1
18        Robert Walker      1
19         Roger Allers      1
20         Ron Clements      7
21  Stephen J. Anderson      2
22           Ted Berman      1
23      Wilfred Jackson      2
24            Will Finn      1
25  Wolfgang Reitherman      9
26         full credits      1

lets do a scatter plot of the themes with the most parents.

In [62]:
# first sort the counts and extract the top 20
top_5_movies = movie_count.sort_values(by=["count"], ascending=False)[
    :5
]

# now plot it using altair
top_5_genre_plot = (
    alt.Chart(top_5_movies, width=500, height=300)
    .mark_circle()
    .encode(
        x=alt.X("director:O", sort="y", title="Genre/Type"),
        y=alt.Y("count:Q", title="Number of Movies"),
    )
    .properties(title="Top 5 director made movies")
)
top_5_genre_plot

alt.Chart(...)